[user]
	name = Giridharan Mohan
	email = 40396159+GiriRock@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	sslVerify = false
